## Intoduction to Pandas üêº
Pandas is one of the most useful data analysis library in Python
(I know these names sounds weird, but hang on!). 

Pandas widely used for data munging. It contains high-level data structures and manipulation tools designed to make data analysis fast and easy. Therefore, Pandas mastery is mandatory for all aspiring data scientist using puthon. 

The most used pandas features are:
1. Loading Data
Pandas provides the easiest function and ways of loading datasets in your script. Pandas has the option of loading almost all the data types you may have for analysis. Some of this inludes
    - CSV
    - Txt
    - xlsx
    - json
    - sav
    - sql tables
    - sql query
2. Rename Function
This is the function for changing the names of your data frames
5. Shape and Columns function
6. Unique Function
7. Cross Tabs
8. Accessing Sub DataFrames/Slicing 
9. Groupby
10. Statistics and Describe
11. Join and merge
12. Handling missing values
13. Apply and Apply Map function

To use the module you must import it using the function import function ..

we import and asign pandas to **pd** object/name

In [1]:
import pandas as pd

### Creating data frames using Pandas
Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is generally the most commonly used pandas object.

Pandas DataFrame can be created in multiple ways. Let‚Äôs discuss different ways to create a DataFrame one by one.

#### Method 1: Creating Pandas DataFrame from lists of lists

In [9]:
### Creating lists

a=['david',22]
b=['Habakkuk',25]
c=['Henry',30]
d=['Bolivia',18]

In [10]:
## joining the lists in one list
data=[a,b,c,d]

## Creating the dataframe
## We use pandas Dataframe Function
df=pd.DataFrame(data)
df

          0   1
0     david  22
1  Habakkuk  25
2     Henry  30
3   Bolivia  18

In [4]:
#### Discuss two methodes of renaming columns

#### Method 2: Creating DataFrame from pithon dict

To create DataFrame from dict of narray/list, all the narray must be of same length. 

If index is passed then the length index should be equal to the length of arrays. 
If no index is passed, then by default, index will be range(n) where n is the array length

In [13]:
# intialise data of lists. 
data = {'Name':['David', 'Habakkuk', 'Henry', 'Bolivia'], 'Age':[22, 25, 30, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
df

       Name  Age
0     David   22
1  Habakkuk   25
2     Henry   30
3   Bolivia   18

In [14]:
df.index=['a','b','c','d'] ## Same as pd.Dataframe(data,index=[])
df

       Name  Age
a     David   22
b  Habakkuk   25
c     Henry   30
d   Bolivia   18

#### Method 3: Creating Dataframe from list of dicts

Pandas DataFrame can be created by passing lists of dictionaries as a input data. 
By default dictionary keys taken as columns

In [15]:
# Initialise data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}] 
  
# Creates DataFrame. 
df = pd.DataFrame(data) 
  
df

    a   b   c
0   1   2   3
1  10  20  30

Another example to create pandas DataFrame by passing lists of dictionaries and row indexes.

In [16]:
# Intitialise data of lists  
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}] 
  
# Creates padas DataFrame by passing  
# Lists of dictionaries and row index. 
df = pd.DataFrame(data, index =['first', 'second']) 
  
df

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [17]:
# Intitialise lists data. 
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] 
   
# With two column indices, values same  
# as dictionary keys 
df1 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b']) 
   
# With two column indices with  
# one index with other name 
df2 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b1']) 
   
# print for first data frame 
print (df1, "\n") 
   
# Print for second DataFrame. 
print (df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN